<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>{% block title %}{% endblock %}-BlogHub</title>
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

</head>
<body>
  
    <div class="navbar">
        <div class="links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/creator">Creators</a></li>
          </ul>
        </div>
        <div class="logo"><h3>BlogHub</h3></p></div>
        <div class="user_name_and_logout"><p align=right>{{userName}}
          
          <button><a href="/logout">Logout</a></button>
        </div>
      </div>
      <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>