{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .link>a{
        text-decoration: none;
              color: inherit;
              cursor: default; 
              color: aliceblue; 
    }
    .userContainer{
        display: flex;
        justify-content: space-between;

    }
    .link{
        align-self: flex-end;
        right: 100
    }
</style>
<div class="container">
    
    {% for user in users %}
        <div class="userContainer">
            <h3>{{user.userName}}</h3>
        <button class="primary-button link"><a href="/viewWork/{{user.userName}}">View Work</a></button>
        <br>
        </div>
        <hr>
    {% endfor %}

</div>
{% endblock content %}