{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .container1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #ffffff;
        width: 70%;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
    }
    
    .userContainer {
        margin: 10px;
    }
    
    .user:hover {
        background-color: #ff0000;
        transform: scale(1.05);
        color: #ffffff;
    }
    
    .user {
        background-color: #000000;
        border: 1px solid #064cff;
        border-radius: 12px;
        width: 200px;
        padding: 15px;
        margin: 5px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .user h3 {
        margin-bottom: 10px;
        color: #ffffff;
    }
    
    .primary-button {
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .primary-button:hover {
        background-color: #cc0000;
    }
    
    .link {
        text-decoration: none;
        color: inherit;
    }
</style>
<div class="container1">
    {% for user in users %}
    <div class="userContainer">
        <div class="user">
            <h3>{{ user.userName }}</h3>
            <a href="/viewWork/{{ user.userName }}" class="link"><button class="primary-button">View Work</button></a>
        </div>        
    </div>
    {% endfor %}
</div>
{% endblock content %}
