{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .container1{
        display: flex;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        background-color: #31363F;
        width: 50%;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
    }
    .userContainer{
        /*display: flex;*/
    }

    .user{
        border: 1px solid white;
        border-radius: 12px;
        width: 100px;
        padding: 5px;
        margin: 5px;
    }

    
</style>
<div class="container1">
    
    {% for user in users %}
        <div class="userContainer">
        <div class="user">
            <h3>{{user.userName}}</h3>
            <a href="/viewWork/{{user.userName}}"><button class="primary-button link">View Work</button></a>
        </div>        
        </div>
        
    {% endfor %}

</div>
{% endblock content %}