{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container ">
    <form action="/update" method="post" enctype="multipart/form-data" >
        <label for="title" >Title:</label><br>
        <input type="text" id="title" name="title"  class="input" placeholder="Title" value="{{blog.title}}" required><br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" class="input"  required>{{ blog.content }}</textarea><br><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{blog.author}}" class="input"  required><br><br>
        <input type="hidden" name="action" value="update">
        <input type="hidden" name="blog_id" value="{{ blog._id }}">
        <input type="submit" class="primary-button" value="Submit">
      </form>
</div>
{% endblock %}