{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}

<style>
    form {
        margin: 20px auto;
        width: 300px;
        text-align: center;
        display: flex;
    }
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        height: 40px;
    }
    input[type="submit"] {
        background-color: #76ABAE;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        height: 40px;

    }
    input[type="submit"]:hover {
        background-color: #31363F;
;
        color: #EEEEEE;
    }
      .delete{
        color: white;
        border: none;
        cursor: pointer;
        background-color: rgb(255, 32, 32);
        margin-left: 30px;
      }
      .delete:hover{
        background-color: rgb(252, 52, 52);
      }
    h2{
        /*font-size: 15vh;*/
        font-size: 30px;
        /*width: 100%;*/
       margin-left: 20px;
      }
</style>
  <h2>Currently, you are viewing {{user}}'s post.</h2>
   


<div class="blog_container">
    {% for blog in blogs %}
    <div class="blog_card">
        <h2>{{ blog.title }}</h2>
        <p>Author: {{ blog.author }}</p>
        <div class="btn_container" style="display: flex;">
            <form action="/read_more" method="post">
                <input type="hidden" name="blog_id" value="{{ blog._id }}">
                <input type="submit" value="Read More">
            </form>
        </div>
    </div>  
    {% endfor %}
    
</div>


{% endblock %}